<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blog Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link type="text/css" href="{% static 'blog/css/style.css' %}" rel="stylesheet">

</head>

<body>
    <div class="container">

        <!-- Blog Header -->
        <header>
            <h1 class="my-4">Posts</h1>
            <a href="{% url 'blog:create_blog_post' %}">Create a New Post</a>
        </header>

        <!-- Blog Entries -->
        <!-- <div class="row">
            <div class="col-md-6 mb-4">

                    <div class="card">
                        {% load static %}
                        <img src="{% static 'blog/img/image.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cat eclipse</h5>
                            <p class="card-text">By John Doe - Dec 29, 2017</p>
                            <a href="#" class="btn btn-primary">Read</a>
                        </div>
                    </div>
            </div>  -->
        {% for post in posts %}
            <a href="{% url 'blog:blog_detail' post.id %}" class="stretched-link">
                <div class="post-card">
                    <div class="post-text-content">
                        <div> class="post-text-content"
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content|truncatewords:50 }}</p>
                        {{ Date }}
                    </div>
                    <div class="post-image-container">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
                    </div>
                </div>
            </a>     
        {% endfor %}

            <!-- ... Repeat similar blocks for other blog entries ... -->
        </div>

    </div>
</body>

</html>
