{% extends "base.html" %}

{% block additional_styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="centered-content">
    <div class="content-area">
        <div class="profile-banner">
            <div class="profile-banner-content">
                <div class="profile-avatar">
                    <img src="https://avatars.githubusercontent.com/u/48101971?v=4" alt="Justin Smethers profile">
                </div>
                <div class="profile-text">
                    <p class="profile-heading">I'm Justin.</p>
                    <p class="profile-description">This site will be a collection of notes, write-ups, projects, thought out posts, garbage, and occassional breakthroughs. Mostly about data.</p>
                </div>
            </div>
        </div>
        <div class="posts">
            <ul class="post-list">
                {% for post in posts %}
                <li class="post-list-item">
                    <a href="{% url 'blog:blog_detail' post.post_name %}">
                        <div class="post-list-row">
                            <span class="post-date">{{ post.date_posted|date:"M d, Y" }}</span>
                            <div class="post-main-line">
                                <h2 class="post-list-title">{{ post.title }}</h2>
                                {% if post.description %}
                                <p class="post-list-blurb">{{ post.description }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
