{% extends "base.html" %}

{% block additional_styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="centered-content">
    <div class="flex-container">
        <!-- Top bar -->
        <div class="top-bar">
            <div class="sidebar-image">
                <img src="https://avatars.githubusercontent.com/u/48101971?v=4" alt="GitHub Profile Image" class="img-fluid">
            </div>
            <div class="top-bar-text">
                <p>I'm Justin. <br><br>This site will be a collection of notes, write-ups, projects, thought out posts, garbage, and occassional breakthroughs. Mostly about data.</p>
            </div>
        </div>

        <!-- Main Content -->
        <div class="posts">
            {% for post in posts %}
            <a href="{% url 'blog:blog_detail' post.post_name %}">
                <div class="post-card white-glow">
                    <div class="post-content-wrapper">
                        <div class="post-text-content">
                            <h2>{{ post.title }}</h2>
                            {% if post.date_posted or post.tags %}
                            <ul class="tag-list" aria-label="Post metadata">
                                {% if post.date_posted %}
                                <li class="tag tag--date">{{ post.date_posted|date:"M j, Y" }}</li>
                                {% endif %}
                                {% for tag in post.tags %}
                                <li class="tag tag--{{ tag }}">{{ tag|upper }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="post-image-container">
                            <img src="{{ post.thumbnail }}" alt="Thumbnail">
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
