{% extends "base.html" %}

{% block content %}
<div class="header-container">
    <!-- Image filling the bar -->
    <img src="{{ post.image.url }}" class="header-image" alt="{{ post.title }}">

    <!-- Title and Description next to the image -->
    <div class="header-text">
        <p class="post-title">{{ post.title }}<p>
        <p class="post-description">{{ post.description }}</p> 
    </div>
</div>

<!-- Post content underneath the header bar -->
<div class="post-content">
    {{ post.content|safe }} 
</div>

{% endblock %}
